@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h3>filter Test</h3>
    <span>
        @Context.Items["option"]
    </span>
</div>

<p>Use this page to detail your site's privacy policy.</p>